<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        Export data from the table as .csv
                    </h5>
                </div>
                <div class="card-body">
                    <form action="" method="post" role="form">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <button name="empres" type="submit" class="btn btn-fill btn-primary" id="empres">
                                    Empres Table
                                </button>
                            </div>
                        </div>
                    </form>

                    <form action="" method="post" role="form">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <button name="dbscan" type="submit" class="btn btn-fill btn-primary" id="dbscan">
                                    DBSCAN Cluster
                                </button>
                            </div>
                        </div>
                    </form>
                    <form action="" method="post" role="form">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <button name="kmeans" type="submit" class="btn btn-fill btn-primary" id="kmeans">
                                    K-Means Cluster
                                </button>
                            </div>
                        </div>
                    </form>
                    <p>* Clustered data are only available for HPAI H5N1</p>
                </div>
            </div>
        </div>
    </div>
</div>