<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        Import data from
                        <a href="https://empres-i.fao.org">EMPRES-i</a>
                    </h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <input type="file" name="file" accept=".csv"/>
                        <input class="btn btn-fill btn-primary" type="submit"/>
                    </form>
                    <p>Please make sure that it is a .csv file</p>
                </div>
            </div>
        </div>
    </div>
</div>

