<div class="panel-header panel-header-sm">
</div>
    <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">
                    Import Successful
                </h5>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                </div>
                <a href = "/viewEmpres.html">Click here to view data</a><br>
                  <a href = "/importData.html">Click here to import more data</a>
              </div>
            </div>
          </div>
        </div>
    </div>